$colorPrincipal: #082032;
$colorSecundario: #2c394b;
$colorTerciario: #334756;
$colorTexto: whitesmoke;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.titulo {
  width: 100%;
  padding-bottom: 1%;
  padding-left: 1%;
  color: $colorTexto;
}

body {
  background-color: $colorPrincipal;
  padding-top: 10px;
}

.customBg {
  @extend body;
}

header {
  background-color: $colorPrincipal;
  padding-bottom: 15px;
}

.headerGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  background-color: $colorSecundario;
  list-style-type: none;
  align-items: center;
  justify-items: center;
}

.logoPrincipal {
  width: 50%;
  height: auto;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 50%;
}

@mixin sombreado($color) {
  background-color: $color;
  border-color: $color;
}

.botonNavegador {
  background-color: $colorTerciario;
  font-size: 100%;
  padding: 10px 25px;
  width: 100%;
}

.botonNavegador:hover {
  @include sombreado(#6e6e6e);
}

@media (max-width: 767.98px) {
  h1 {
    font-size: small;
  }

  h2 {
    font-size: x-small;
  }

  .botonNavegador {
    padding: 2px 17px;
  }

  .boton {
    font-size: x-small;
  }

  .contactoLouderFooter {
    font-size: xx-small;
  }
}

.video-container{
  height: 100%;
}

.playlists {
  background-color: $colorSecundario;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 10px 15px;
  color: $colorTexto;
  border: 1px solid white;
}

@mixin estiloBoton($color, $ancho, $alto) {
  background-color: $color;
  width: $ancho;
  height: $alto;
}

.boton {
  text-decoration: none;
  color: $colorTexto;
  transition: background-color 0.3s, border-color 0.3s;
  border: 1px solid white;
  display: inline-block;
  text-align: center;
  align-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 0.3rem;
  box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.2);
}

.botonRosa {
  @extend .boton;
  @include estiloBoton(rgb(221, 42, 123), 98%, 2em);
}

.botonRosa:hover {
  @include sombreado(rgb(141, 27, 78));
}

.botonVerde {
  @extend .boton;
  @include estiloBoton(rgb(44, 152, 82), 98%, 2em);
}

.botonVerde:hover {
  @include sombreado(rgb(30, 108, 57));
}

footer {
  justify-items: center;
  align-items: normal;
  background-color: $colorSecundario;
  color: $colorTexto;
  padding-top: 10px;
  padding-left: 10px;
}

.fotoDePerfil {
  width: 45%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
  box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.2);
}

.contactoLouderFooter {
  background-color: $colorTerciario;
  padding: 1% 1%;
  border: white solid 1px;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.contactoLouderFooter img {
  width: 2%;
  height: auto;
  margin-right: 5px;
}

.contactoIndFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.contactoLouderFooter a {
  display: block;
  color: $colorTexto;
  text-decoration: none;
}

.Copyright {
  font-size: x-small;
  padding-top: 2%;
}

.presentacionesIndividuales {
  justify-content: center;
  margin: 10px;
  flex-wrap: wrap;
  display: flex;
  background-color: $colorSecundario;
  padding: 10px 5px;
  border: 1px solid black;
}

.presentacionesIndividuales img {
  display: flex;
  width: 50%;
  height: auto;
  padding-bottom: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.soloDJ img {
  display: flex;
  width: 98%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 2rem;
}

.soloDJ p {
  display: flex;
  box-sizing: border-box;
  margin-right: 10px;
  padding-bottom: 10px;
  text-align: justify;
  color: $colorTexto;
}

.soloDJ {
  flex: 1 1 300px;
  box-sizing: border-box;
  margin-bottom: 40px;
  padding-left: 10px;
  padding-top: 5px;
  background-color: $colorTerciario;
  margin-left: 5px;
  border: black solid 1px;
}

.djJuntos {
  display: flexbox;
  justify-items: center;
  color: $colorTexto;
}

.djJuntos img {
  width: 90%;
  display: block;
  border-radius: 2rem;
}

div.card.cardCustom {
  width: 17rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  background-color: $colorTerciario;
  display: inline-block;
}

.calendario {
  display: inline-flex;
  align-items: center;
  width: 100%;
  max-width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  background-color: $colorTerciario;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.calendarioBotones {
  display: flex;
  justify-content: space-between;
}

.fecha {
  flex: none;
  width: 250px;
  height: 300px;
  padding: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #425c6f;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}

.dia {
  margin-bottom: 20px;
}

.eventoDelDia {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  background-color: #507087;
  color: $colorTexto;
}

.formCustom {
  color: $colorTexto;
  margin: 1em 1em;
  padding: 1em 1em;
  background-color: #425c6f;
  border-radius: 5px;
  border: 1px solid white;
}
