.botonNavegador {
    background-color: $colorTerciario;
    font-size: 100%;
    padding: 10px 25px;
    width: 100%;
    border: white 1px solid;
    color: $colorTexto;
    @include estiloBoton($colorTerciario, 10em, 100%);
    &:hover {
      @include sombreado(#6e6e6e);
    }
  }

  .boton {
    text-decoration: none;
    color: $colorTexto;
    transition: background-color 0.3s, border-color 0.3s;
    border: 1px solid white;
    display: inline-block;
    text-align: center;
    align-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 0.3rem;
    box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.2);
  }

  .botonRosa {
    @extend .boton;
    @include estiloBoton(rgb(221, 42, 123), 98%, 2em);
    &:hover {
      @include sombreado(rgb(141, 27, 78));
    }
  }
  
  .botonVerde {
    @extend .boton;
    @include estiloBoton(rgb(44, 152, 82), 98%, 2em);
    &:hover {
      @include sombreado(rgb(30, 108, 57));
    }
  }
