div.card.cardCustom {
    width: 17rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    background-color: $colorTerciario;
    display: inline-block;
  }
  
  .calendario {
    display: inline-flex;
    align-items: center;
    width: 100%;
    max-width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    background-color: $colorTerciario;
    overflow-x: auto;
    scroll-behavior: smooth;
    animation: fadeIn 0.5s ease-in-out;
    .fecha {
      flex: none;
      width: 250px;
      height: 300px;
      padding: 10px;
      margin-right: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
      background-color: #425c6f;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      color: white;
      .dia {
        margin-bottom: 20px;
      }
      .eventoDelDia {
        width: 100%;
        height: 100%;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        box-sizing: border-box;
        background-color: #507087;
        color: $colorTexto;
      }
    }
  }
  
  .calendarioBotones {
    display: flex;
    justify-content: space-between;
  }