header {
    background-color: $colorSecundario;
    padding-bottom: 15px;
    border: white 1px solid;
    .contenedorFlex {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
    .logoPrincipal {
      display: inline-block;
      width: 10%;
      height: auto;
      margin-left: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
      border-radius: 50%;
    }
  }