<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Proximas Fechas</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css
    "
    />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="shortcut icon" href="../assets/favicon.ico" type="image/x-icon">
  </head>

  <body class="customBg">
    <header>
      <div class="contenedorFlex">
        <img src="../assets/logo1.jpg" alt="logo louder" class="logoPrincipal" />
        <nav class="navbar navbar-expand-lg">
          <div class="container-fluid">
            <a class="navbar-brand d-flex align-items-center" href="#"></a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNav"
              aria-controls="navbarNav"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a
                    class="nav-link botonNavegador"
                    aria-current="page"
                    href="../index.html"
                    >Inicio</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link botonNavegador"
                    href="../views/quienesSomos.html"
                    >Quienes Somos</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link botonNavegador"
                    href="#"
                    >Proximas fechas</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link botonNavegador"
                    href="../views/contactanos.html"
                    >Contactanos</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <h1 class="titulo">Proximas Fechas</h1>
    <section class="calendario overflow-x-hidden" id="calendario">
      <div class="fecha">
        <div class="dia">Lunes 15</div>
        <div class="eventoDelDia"></div>
      </div>
      <div class="fecha">
        <div class="dia">Martes 16</div>
        <div class="eventoDelDia"></div>
      </div>
      <div class="fecha">
        <div class="dia">Miercoles 17</div>
        <div class="eventoDelDia"><h3>Apertura "Grid" Tortuguitas Open Mall - Louder Live Set</h3></div>
      </div>
      <div class="fecha">
        <div class="dia">Jueves 18</div>
        <div class="eventoDelDia"></div>
      </div>
      <div class="fecha">
        <div class="dia">Viernes 19</div>
        <div class="eventoDelDia"><h3>DJ Live Set Louder - Naja (Ramos Mejia)</h3></div>
      </div>
      <div class="fecha">
        <div class="dia">Sabado 20</div>
        <div class="eventoDelDia"><h3>Santi De Martin - Evento privado / Maxi Paz - Live Set x Cheka B2B MonchoDJ</h3></div>
      </div>
      <div class="fecha">
        <div class="dia">Domingo 21</div>
        <div class="eventoDelDia"></div>
      </div>
    </section>
    <section class="calendarioBotones">
      <button type="button" class="btn btn-primary boton" id="btnRetroceder">
        Retroceder
      </button>
      <button type="button" class="btn btn-primary boton" id="btnAvanzar">
        Avanzar
      </button>
    </section>
    <footer>
      <div class="container text-center">
        <div class="row">
          <div class="col contactoIndFooter">
            <!-- Contacto de Santi De Martin-->
            <img
              src="../assets/santidemartinPerfil.jpg"
              alt="santidemartin"
              class="fotoDePerfil"
            />
            <a
              href="https://www.instagram.com/santidemartin?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
              class="boton botonRosa"
              target="_blank"
              >Seguime</a
            >
            <a
              href="https://wa.me/113596-6346"
              class="boton botonVerde"
              target="_blank"
              >Mensajeame</a
            >
          </div>
          <div class="col contactoIndFooter">
            <!-- Contacto de Maxi Paz-->
            <img
              src="../assets/maxipazPerfil.jpg"
              alt="maxipaz"
              class="fotoDePerfil"
            />
            <a
              href="https://www.instagram.com/_maxipaz_?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
              class="boton botonRosa"
              target="_blank"
              >Seguime</a
            >
            <a
              href="https://wa.me/113069-4035"
              class="boton botonVerde"
              target="_blank"
              >Mensajeame</a
            >
          </div>
          <div class="col contactoIndFooter">
            <img src="../assets/logo1.jpg" alt="louder" class="fotoDePerfil" />
            <!-- Contacto de Louder-->
            <a
              href="https://www.instagram.com/louder.ba?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
              class="boton botonRosa"
              target="_blank"
              >Seguinos</a
            >
          </div>
        </div>
        <div class="row">
          <div class="col contactoLouderFooter">
            <!-- Datos de contacto -->
            <h3>Contacto</h3>
            <a href="https://wa.me/1130694035" target="_blank"
              ><img src="../assets/whatsappIcon.svg" alt="whatsapp" />+54 9 11
              3069-4035</a
            >
            <a href="mailto:santiagodemartin@gmail.com" target="_blank"
              ><img
                src="../assets/email.svg"
                alt="mail"
              />santiagodemartin@gmail.com</a
            >
            <p class="Copyright">Copyright 2025 Matias López</p>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js
  "></script>
    <script>
      const calendario = document.getElementById("calendario");
      const btnRetroceder = document.getElementById("btnRetroceder");
      const btnAvanzar = document.getElementById("btnAvanzar");

      btnRetroceder.addEventListener("click", () => {
        calendario.scrollBy({
          left: -250,
          behavior: "smooth",
        });
      });

      // Mueve hacia la derecha
      btnAvanzar.addEventListener("click", () => {
        calendario.scrollBy({
          left: 250,
          behavior: "smooth",
        });
      });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js
    "></script>
  </body>
</html>
