<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quienes somos</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <header>
        <nav>
            <ul class="headerGrid">
                <li><img src="../assets/logo1.jpg" alt="louder" class="logoPrincipal"></li>
                <li><a href="../index.html" class="boton botonNavegador">Inicio</a></li>
                <li><a href="#" class="boton botonNavegador">Quienes somos</a></li>
                <li><a href="./proximasFechas.html" class="boton botonNavegador">Proximas Fechas</a></li>
                <li><a href="./contactanos.html" class="boton botonNavegador">Contactanos</a></li>
            </ul>
        </nav>
    </header>
    <section class="presentacionesIndividuales">
        <h1 class="titulo">Quienes somos</h1>
        <div class="soloDJ">
            <img src="../assets/santidemartinPresentacion.jpg" alt="santidemartin">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt praesentium aliquam, quisquam quasi libero, quas vel, quidem culpa explicabo est blanditiis ab ipsum similique corrupti optio tempora ratione tenetur fugiat!
            Esse accusamus quia ratione eos incidunt totam soluta officia corporis magnam sint perspiciatis repellendus tempore blanditiis molestiae, repellat neque tempora pariatur impedit sit adipisci dolorem quas voluptatibus, est nihil. Beatae.
            Sapiente officiis placeat rerum itaque, libero repellendus doloribus. Qui maxime non assumenda, laborum iure ex, fuga, mollitia aliquam ullam placeat et reprehenderit nesciunt recusandae. Repellat dolores explicabo facilis.</p>
            <a href="https://www.instagram.com/santidemartin?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" class="boton botonRosa" target="_blank">Seguime</a>
        </div>
        <div class="soloDJ">
            <img src="../assets/maxipazPresentacion.jpg" alt="maxipaz">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste omnis quaerat vitae nisi eligendi mollitia ab quisquam odit sequi, repellat tenetur at ipsa beatae? Natus sint quae delectus voluptas optio.
            Laborum voluptatum repellendus magni culpa doloremque fugit corporis nostrum maxime officia architecto voluptates voluptas, esse at eligendi dolorem dicta hic harum aspernatur quidem labore porro provident enim ea rem? Repellendus.
            Ipsa facilis numquam saepe mollitia dignissimos corporis quod quam cumque accusantium ea possimus corrupti aperiam harum, fugit cupiditate voluptas quas aspernatur asperiores beatae eum aut. Officia nobis fugiat at esse.</p>
            <a href="https://www.instagram.com/_maxipaz_?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" class="boton botonRosa" target="_blank">Seguime</a>
        </div>
        <div class="djJuntos">
            <img src="../assets/louderPresentacion.png" alt="santidemartin">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt praesentium aliquam, quisquam quasi libero, quas vel, quidem culpa explicabo est blanditiis ab ipsum similique corrupti optio tempora ratione tenetur fugiat!
            Esse accusamus quia ratione eos incidunt totam soluta officia corporis magnam sint perspiciatis repellendus tempore blanditiis molestiae, repellat neque tempora pariatur impedit sit adipisci dolorem quas voluptatibus, est nihil. Beatae.
            Sapiente officiis placeat rerum itaque, libero repellendus doloribus. Qui maxime non assumenda, laborum iure ex, fuga, mollitia aliquam ullam placeat et reprehenderit nesciunt recusandae. Repellat dolores explicabo facilis consectetur molestias.</p>
            </div>
    </section>
    <footer>
        <section class="footerGrid">
        <div class="contactoLouderFooter"><!-- Datos de contacto alineados a la izquierda -->
            <h3>Contacto</h3>
            <a href="https://wa.me/1130694035" target="_blank"><img src="../assets/whatsappIcon.svg" alt="whatsapp">+54 9 11 3069-4035</a>
            <a href="mailto:santiagodemartin@gmail.com" target="_blank"><img src="../assets/email.svg" alt="mail">santiagodemartin@gmail.com</a>
            <p class="Copyright">Copyright 2025 Matias López</p>
        </div> 
        <div class="contactoIndFooter"> <!-- Contacto de Santi De Martin-->
            <img src="../assets/santidemartinPerfil.jpg" alt="santidemartin" class="fotoDePerfil">
            <a href="https://www.instagram.com/santidemartin?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" class="boton botonRosa" target="_blank">Seguime</a>
            <a href="https://wa.me/113596-6346" class="boton botonVerde" target="_blank">Mensajeame</a>
        </div>
        <div class="contactoIndFooter"> <!-- Contacto de Maxi Paz-->
            <img src="../assets/maxipazPerfil.jpg" alt="maxipaz" class="fotoDePerfil">
            <a href="https://www.instagram.com/_maxipaz_?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" class="boton botonRosa" target="_blank">Seguime</a>
            <a href="https://wa.me/113069-4035" class="boton botonVerde" target="_blank">Mensajeame</a>
        </div>
        <div class="contactoIndFooter">
            <img src="../assets/logo1.jpg" alt="louder" class="fotoDePerfil"> <!-- Contacto de Louder-->
            <a href="https://www.instagram.com/louder.ba?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" class="boton botonRosa" target="_blank">Seguinos</a>
        </div>
    </section>
    </footer>
</body>

</html>